{% block body %}
<h1>New Request</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action="">
    <div class="form-group">
        {{ render_field(form.start, class_="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.finish, class_="form-control") }}
    </div>
    <!--<div class="form-group">-->
        <!--{{ render_field(form.rq_status, class_="form-control") }}-->
    <!--</div>-->
    <p><input class="btn btn-primary" type="submit" value="Submit"></p>
</form>
{% endblock %}