<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="Holiday_manager" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Holiday Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    body, html {
      height: 100%;
      margin: 0;
    }

    .bg {
      /* The image used */
      background-image: url('/static/img/background.jpg');

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
</style>
</head>
<body>
<div class="bg">
<div class="container">
    {% include 'includes/_messages.html' %}
    {% block body %}{% endblock %}
</div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>