{% extends 'layout.html'%}
{% block body %}
<h1> Requests page
    <h3> Welcome, {{current_user.name}}!</h3>
</h1>
<a class="btn btn-success" href="/add_request">Add leave Request</a>
<hr>
<table class="table table-striped text-center">
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Employee</th>
        <th class="text-center">Start</th>
        <th class="text-center">Finish</th>
        <th class="text-center">Status</th>
        <th class="text-center">Sum</th>
        <th></th>
        <th></th>
    </tr>
    {% for request in allrequests %}
    <tr>
        <td>{{request.id}}</td>
        <td>{{request.employee}}</td>
        <td>{{request.start_date}}</td>
        <td>{{request.finish_date}}</td>
        {% if request.status == "Declined" %}<td bgcolor=#ff6c32>{{request.status}}</td>
        {% elif request.status == "Approved" %}<td bgcolor=#86d644>{{request.status}}</td>
        {% else %}<td bgcolor=#f9e868>{{request.status}}</td>
        {% endif %}
        <td>{{request.sum}}</td>
        <td>
            <form action="{{url_for('reject_request', id=request.id)}}" method="post">
                <input type="hidden" name="_method" value="REJECT">
                <input type="submit" value="Reject" class="btn btn-danger pull-right">
            </form>
            <form action="{{url_for('approve_request', id=request.id)}}" method="post">
                <input type="hidden" name="_method" value="APPROVE">
                <input type="submit" value="Approve" class="btn btn-success pull-right">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="/admin" class="btn btn-primary" style="padding: 15px 15px;">Admin</a>
<a href="/logout" class="btn btn-danger" style="padding: 15px 15px;">Logout</a>
{% endblock %}